@import url('https://fonts.googleapis.com/css?family=Space+Grotesk:300,400,500,600,700&display=swap');
:root{
--sidebar-flex:1;
--condiv-flex:7;
--fontsize-p:1.2rem;
--fontsize-nav:1.6rem;
--typing-font:3rem;
}
*
{
margin:0;
padding: 0;
}
body
{
font-family: 'Space Grotesk';
}
.App
{
display: flex;
width: 100vw;
min-height: 100vh;
}
nav
{
padding: 80px 30px 0px 30px ;
position: fixed;
z-index: 1;
flex:var(--sidebar-flex);
top: 0;
left: 0;
overflow-x: hidden;
background: rgb(230, 156, 21);
overflow: auto;
height: 100%;
}
nav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #f1f1f1;
  display: block;
}
nav a .active {
  color: #1cf739;
}
nav a:hover {
  text-decoration: underline;
  color: #f1f1f1;
  background-color: #000000;
}
nav ul
{
  font-size:var(--fontsize-nav) ;
  text-align: center;
  list-style-type: none;
  text-decoration: none;
  color: white;
}
nav ul li
{
  margin:40px;
  position: sticky;
  overflow: auto;
  top: 0;
}
.active {
  background-color: aqua;
}
.condiv
{
padding: 100px ;
background-color: #ffffff;
flex:var(--condiv-flex);
}
.subtopic
{
margin:10px 10px 10px 10px !important;
}
p
{
font-size: var(--fontsize-p);
}
h1,h2,h3,h4,p
{
margin: 10px;
}
.konten
{
  padding: 0px 0px 0px 200px ;
  margin-left: 80px;
}
section {
  height: 90vh;
  margin:0;
  padding:2.5rem 4rem;
}
section:last-of-type {
  height: 100vh;
}
@media screen and (max-width: 800px) {
  body {
    font-size: 14px;
  }
}
@media screen and (max-width: 600px) {
  body {
    font-size: 11px;
  }
}
@media
(prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}