@import url('https://fonts.googleapis.com/css?family=Space+Grotesk:300,400,500,600,700&display=swap');
:root{
--sidebar-flex:1;
--condiv-flex:7;
--fontsize-p:1.2rem;
--fontsize-nav:1.6rem;
--typing-font:3rem;
}
*
{
margin:0;
padding: 0;
}
body
{
font-family: 'Space Grotesk';
}
.App
{
display: flex;
width: 100vw;
min-height: 100vh;
}
.condiv
{
padding: 100px ;
background-color: #f4f5f9;
flex:var(--condiv-flex);
scroll-behavior: smooth;
}
nav
{
padding: 30px 30px 0px 30px ;
position: fixed;
flex:var(--sidebar-flex);
top: 0;
background: rgb(238,103,143);
background: linear-gradient(180deg, rgb(57, 98, 249) 50%, rgb(255, 169, 93) 80%);
overflow: auto;
height: 100%;
}
nav a {
  color: white;
  text-decoration: none;
  margin: 0px 10px;
}
nav a:hover {
  text-decoration: underline;
}
nav ul
{
  font-size:var(--fontsize-nav) ;
  text-align: center;
  list-style-type: none;
  text-decoration: none;
  color: white;
}
nav ul li
{
  margin:40px;
  position: sticky;
  overflow: auto;
  top: 0;
}
nav a.active {
  color: #1e1e1e;
  background: white;
}
.condiv
{
padding: 100px ;
background-color: #f4f5f9;
flex:var(--condiv-flex);
}
.subtopic
{
margin:10px 10px 30px 10px !important;
}
p
{
font-size: var(--fontsize-p);
}
h1,h2,h3,h4,p
{
margin: 10px;
}
.konten
{
  padding: 0px 0px 0px 250px ;
}
@media screen and (max-width: 800px) {
  body {
    font-size: 14px;
  }
}
@media screen and (max-width: 600px) {
  body {
    font-size: 11px;
  }
}
@media
(prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}